@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    width: 100dvw;
    height: 100dvh;
}


.btn {
    @apply px-4 py-2 rounded-md border border-solid border-gray-500;
    @apply hover:scale-105;
    @apply transition-all;
}

.btn-large {
    @apply px-8 py-4 rounded-md border border-solid border-gray-500;
    @apply hover:scale-105;
    @apply transition-all;
}